/* MOBILE STYLES FIRST */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  scroll-behavior: smooth;
}

/* Header and navigation menu style */
.topNavigation {
  background-color: black;
  overflow: hidden;
}
.topNavigation a {
  clear: both;
  float: left;
  display: none;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
}
.topNavigation a:hover {
  cursor: pointer;
  color: #18BC9C;
}
.topNavigation .icon {
  display: block;
}
.topNavigation.responsive a.icon {
  float: left;
  animation-name: spinner;
  animation-duration: 2s;
}
.topNavigation.responsive a {
  float: none;
  display: block;
  text-align: left;
}
/* Animation for responsive nav menu icon to spin on click */
@keyframes spinner {
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Generic styles for all sections */
section {
  padding: 40px;
  padding-top: 25px;
  background-color: white;
}
h1 {
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}
.alternateSectionHeader {
  color: black;
}

/* Picture With image and name styles defined here */
.pictureWithName {
  height: 30%;
  text-align: center;
  background: url("../img/maindisplay.jpg") no-repeat;
  background-size: cover;
}
.informationText {
  position: relative;
  top: 30%;
  font-size: 15px;
}
/* Animation for the header section containing my name */
@keyframes headerAnimation {
  0% {
      transform: scale(0.1) rotate(50deg);
  }
  50% {
      transform: rotate(-10deg)
  }
  70% {
      transform: rotate(5deg)
  }
  to {
      transform: scale(1)
  }
}
.headerAnimation {
  animation-name: headerAnimation;
  animation-duration: 2s;
}

/* Portfolio styles here */
.portfolioIcon {
  display: block;
  margin: 0 auto;
  width: 70%;
  transition: all 0.3s ease-in-out;
}
.portfolioIcon:hover {
  cursor: pointer;
  opacity: 0.7;
}
.portfolioModal {
  margin-top: 20px;
}
.container-popup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,.8);
  display: none;
  z-index: 2;
}
.popup {
  width: 70%;
  height: 70%;
  padding: 20px;
  padding-bottom: 30px;
  background: white;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
/* Some styling kept relevant to the popup dialog as only a few elements to be styled */
.popup h1 {
  color: black;
  margin: 15px 0;
  margin-bottom: 0;
}
.popup p {
  color: black;
  font-size: 15px;
  margin-top: 10px;
}
.popup ul {
  padding: 0;
  font-size: 15px;
  text-align: center;
}
.popup li {
  color: black;
  list-style: none;
  display: inline-block;
  cursor: pointer;
}
.dialogLink {
  text-decoration: none;
  color: #18BC9C;
  font-weight: bold;
  margin-right: 10px;
}
.dialogLink:hover {
  text-decoration: underline;
}
.closeButton {
  color: #18BC9C;
  position: absolute;
  right: 5px;
  font-size: 30px;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  top: 0px;
}
.closeButton:after {
  content: 'X';
}
.closeButton:hover {
  text-decoration: underline;
}
.modalPicture {
  display: block;
  width: 55%;
  margin: 0 auto;
}
.popupAnimation {
  animation-name: popupAnimation;
  animation-duration: 0.5s;
}
/* Animation for popup modal dialog when clicked */
@keyframes popupAnimation {
  0% {
    opacity: 0;
    transform: scale3d(.3, .3, .3)
  }
  50% {
      opacity: 1
  }
}

/* About Me styles here */
.about {
  background-color: #18BC9C;
  font-size: 15px;
  text-align: center;
}
.profilePic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  transform: scaleX(-1);
  transition-duration: 1s;
}
.profilePic:hover {
  transform: scaleX(1);
  transition-duration: 1s;
}
p {
  text-align: justify;
}
#downloadCV {
  color: white;
  font-size: 20px;
  border: 2px solid white;
  background: transparent;
  float: left;
  transition: all 0.3s ease-in-out;
}
#downloadCV:hover {
  color: #18BC9C;
  background: white;
  cursor: pointer;
}

/* Contact Me styles here */
textarea {
  height: 200px;
}
input[type=text], input[type=email], textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-top: 5px;
  resize: none;
}
input[type=text], input[type=email], textarea:focus {
  outline-color: #18BC9C;
}
#submitBtn {
  color: white;
  background-color: #18BC9c;
  font-size: 20px;
  padding: 4px 7px;
}
#submitBtn:hover {
  background-color: #128f76;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
#customMessage {
  color: red;
  margin: 0;
  font-weight: bold;
  text-transform: uppercase;
}

/* Extra Info Section styles here */
.extraInfo {
  display: block;
  justify-content: space-around;
  background-color: #1a1a1a;
  text-align: center;
  padding-bottom: 20px;
}
.extraInfo a {
  text-decoration: none;
  color: white;
  list-style: none;
}
.extraInfoTopDivs {
  margin-bottom: 15px;
}
h3 {
  text-transform: uppercase;
  margin: 0;
}
#location {
  display: inline-block;
}
#map {
  margin: 0 auto;
  height: 150px;
  width: 150px;
  margin-bottom: 15px;
}
.footerLinks {
  margin: 0;
  padding: 0;
  list-style: none;
}
.socialMediaLinks {
  padding: 5px;
  display: inline-block;
}
.sitemap {
  margin-bottom: 0px;
}
#locationContainer {
  margin-bottom: 0;
}
input[type=text], input[type=email], textarea:focus {
  outline-color: #18BC9C;
}
.extraInfo a:hover {
  color: #18BC9C;
}
.pulse {
  animation-name: pulseanimation;
	animation-duration: 5s;
	transform-origin: 100% 100%;
	animation-iteration-count: infinite;
}
@keyframes pulseanimation {
	0% {
    transform: scale(0.75);
  }
	50% {
    transform: scale(1);
  }
	100% {
    transform: scale(0.75);
  }
}
/* CSS for font-awesome where the classname contains 'fa fa-' */
a[class*="fa fa-"] {
  font-size: 30px;
}

/* Footer styles here */
footer {
  background-color: black;
  text-align: center;
  padding: 10px 0;
}

/* Breakpoint at 768px for tablets */
@media screen and (min-width: 768px) {
  .topNavigation {
    height: 60px;
  }
  .topNavigation .icon {
    display: none;
  }
  .topNavigation a {
    height: 30px;
    padding-top: 20px;
    float: none;
    display: inline-block;
  }
  h1 {
    font-size: 35px;
  }
  .informationText, p, footer span, .popup p {
    font-size: 20px;
  }
  .portfolioModal {
    display: inline;
  }
  .portfolioIcon {
    margin: 0;
    display: inline;
    width: 33%;
  }
  #rockPaperScissorsImg {
    margin-right: 20px;
  }
  .extraInfo {
    font-size: 19px;
    display: flex;
    justify-content: space-between;
  }
  .popup {
    width: 80%;
    height: 80%;
  }
  #map {
    margin-left: 35px;
    margin-right: 35px;
  }
  .modalPicture {
    width: 40%;
  }
  .portfolioIcon {
    width: 33%;
  }
  /* CSS for font-awesome where the classname contains 'fa fa-' */
  a[class*="fa fa-"] {
    font-size: 40px;
  }
}

/* Breakpoint at 1250px for desktops */
@media screen and (min-width: 1250px) {
  .topNavigation {
    height: 90px;
  }
  .topNavigation a {
    font-size: 25px;
    padding-top: 30px;
  }
  h1 {
    font-size: 40px;
  }
  .informationText, p, footer span, .popup p, #downloadCV {
    font-size: 25px;
  }
  .popup {
    width: 90%;
    height: 90%;
  }
  .portfolioIcon {
    margin: 0 25px;
    width: 45%;
  }
  .modalPicture {
    width: 45%;
  }
  #downloadCV {
    height: 40px;
  }
  .about {
    padding-bottom: 50px;
  }
  /* CSS for font-awesome where the classname contains 'fa fa-' */
  a[class*="fa fa-"] {
    font-size: 50px;
  }
}